<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC 	"-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.board.mapper.ProductMapper">

	<!-- upload -->
	<insert id="upload"
		parameterType="com.example.demo.board.domain.ProductVO">
		INSERT INTO PRODUCTS(id, name, type, price, description,
		image, status)
		VALUES('${id}', '${name}', '${type}', ${price},
		'${description}', #{image}, '${status}');
	</insert>

	<!-- search -->
	<select id="search" parameterType="String"
		resultType="com.example.demo.board.domain.ProductVO">
		SELECT * FROM PRODUCTS WHERE name LIKE '%${name}%';
	</select>

	<!-- find by id -->
	<select id="findById" parameterType="String"
		resultType="com.example.demo.board.domain.ProductVO">
		SELECT * FROM PRODUCTS WHERE id='${id}';
	</select>

	<!-- delete -->
	<delete id="delete" parameterType="String">
		DELETE FROM PRODUCTS WHERE
		id='${id}';
	</delete>

	<!-- update -->
	<update id="update" parameterType="String">
		UPDATE PRODUCTS SET name=
		'${name}', type= '${type}', price= ${price}, description= '${description}',
		image= '${image}', status= ${status} WHERE id= '{$id}';
	</update>
	
	<!-- find all -->
	<select id="printAllProducts" resultType="com.example.demo.board.domain.ProductVO">
		SELECT * FROM PRODUCTS;
	</select>
	
	<!-- find by type -->
	<select id="printProductsByType" parameterType="String" resultType="com.example.demo.board.domain.ProductVO">
		SELECT * FROM PRODUCTS WHERE type = '${type}';
	</select>
	
	<!-- select product detail -->
	<select id="printProductDetail" parameterType="String" resultType="com.example.demo.board.domain.ProductVO">
		SELECT * FROM PRODUCTS WHERE id = '${id}';
	</select>
	
</mapper>