<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC 	"-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.example.demo.board.mapper.ReviewMapper">

	<!-- upload -->
	<insert id="upload" parameterType="com.example.demo.board.domain.ReviewVO">
		INSERT INTO REVIEWS (id, o_id, u_id, rev_price, rev_quality, rev_ship, rev_agv, content, image_1, image_2, image_3, ext)
		VALUES('${id}', '${o_id}', '${u_id}', ${rev_price}, ${rev_quality}, ${rev_ship}, ${rev_agv}, '${content}', #{image_1}, null, null,'${ext}');
	</insert>
	
	<!-- READ() -->
	<select id="read" resultType="com.example.demo.board.domain.ReviewVO">
		SELECT * FROM REVIEWS;
	</select>

	<!-- Update -->
	<update id="update" parameterType="String">
		UPDATE	REVIEWS	SET	id=${id},
							o_id=${o_id},
							u_id=${u_id},
							rev_price=${rev_price}, 
							rev_quality=${rev_quality}, 
							rev_ship=${rev_ship},
							rev_agv=${rev_agv},
							content=${content},
							image_1=${image_1},
							image_2=${image_2},
							image_3=${image_3};
	</update>
							

	<!-- Delete -->
	<delete id="delete" parameterType="String">
		DELETE FROM REVIEWS WHERE id='${id}';
	</delete>
	
	<!-- detail -->
	<select id = "printDetailReview" parameterType="String" resultType="com.example.demo.board.domain.ReviewVO">
		SELECT * FROM REVIEWS WHERE id='${id}';
	</select>
	<!-- Search 
	<select id="search" parameterType="String" resultType="com.example.demo.board.domain.ReviewVO">
		SELECT * FROM REVIEWS WHERE 
	</select>-->
	
	
	<!-- image -->
	<select id="imagePrint" parameterType="String" resultType="byte[]">
		SELECT image_1 FROM REVIEWS WHERE id='${id}';
	</select>
</mapper>
