@media screen and (max-width : 600px) width:100%



* a{
	text-decoration : none;
	color : black;
}


.navbar{
	letter-spacing : 5px;
	word-spacing : 12px;
}

.header {
	text-align : center;
	font-size : 5em;
	color : black;
	font-family : "varelisa", "맑은 고딕", sans-serif;
	text-decoration : italic;
}

.menu{
	background-color : ;
	text-align : center;
	color : black;
}


.caption{
	font-size : 15px;
	color : black;
	margin-left : 60px;
	text-decoration: bold;
}

/*.topimage{

}*/

.bottom{
	background-color : lightblue;
	font-size : 17px;
	text-align : center;
}

#contact{
	font-size : 40px;
	color : black;
	font-family : "Ariel";
}

.img1{
	 margin-top : 40px;
	 margin-left : 40px;
}

.favorite{
	margin-top : 20px;
}

.tab{
	border : 15px solid white;
	margin-top : 25px;
}

.favorite{
	font-size : 40px;
	color : black;
	text-decoration : bold;
	font-family : "Ariel";
	text-align : center;
	margin-top : 10px;
}

.mainvid1{
	width : 800px;
	height : 450px;
	margin-left : 225px;
	margin-top : 30px;
}

/*.mainvid2{
	width : 450px;
	height : 300px;
	margin-left : 20px;
	margin-top : 30px;
}*/

/*.orderbutton{
	width : 10px;
}

.keepbutton{
	width : 10px;
	border-bottom : 2px solid black;
}
*/

.description{
	border-bottom : 2px solid black;
}

.mention{
	text-align : center;
	font-size : 15px;
	padding-top : 20px;
	padding-bottom : 20px;
}

.signtab{

}

.signtitle{
	text-align : center;
	font-size : 40px;
	padding-top : 20px;
	padding-bottom : 20px;
}

.login{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}

.loginforgot{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}

.join{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}

.addinfo{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}


.agr{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}

.agr2{
	text-align : center;
	font-size : 40px;
	padding-top : 100px;
	padding-bottom : 20px;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"]{
	width : 198px;
	height : 38px;
	line-height : 38px;
	margin-top : 15px;
	margin-bottom : 15px;
	border : 1px solid black;
	text-indent : 10px;
	color : #000;
}

input[type="button"],
input[type="reset"],
input[type="submit"]{
	width : 100px;
	height : 38px;
	margin-top : 15px;
	margin-bottom : 15px;
	align-self : center;
}